# Java / Maven
target/
*.class
*.log

# IntelliJ
.idea/
*.iml

# OS files
*.DS_Store

# Node / other junk
node_modules/

# Spring specific
*.jar
*.war

# Build folders
build/
out/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
